<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/Index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>Paginas.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discusion</servlet-name>
        <servlet-class>Paginas.Discusion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temas</servlet-name>
        <servlet-class>Paginas.Temas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publicar</servlet-name>
        <servlet-class>Paginas.Publicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Paginas.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Paginas.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reglas</servlet-name>
        <servlet-class>Paginas.Reglas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Colabora</servlet-name>
        <servlet-class>Paginas.Colabora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoTema</servlet-name>
        <servlet-class>Paginas.NuevoTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTema</servlet-name>
        <servlet-class>Paginas.CrearTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Paginas.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Paginas.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Paginas.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar</servlet-name>
        <servlet-class>Paginas.Borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>Paginas.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>Paginas.Modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EjecutarModificacion</servlet-name>
        <servlet-class>Paginas.EjecutarModificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>Paginas.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Puntuar</servlet-name>
        <servlet-class>Paginas.Puntuar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discusion</servlet-name>
        <url-pattern>/Discusion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temas</servlet-name>
        <url-pattern>/Temas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicar</servlet-name>
        <url-pattern>/Publicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reglas</servlet-name>
        <url-pattern>/Reglas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Colabora</servlet-name>
        <url-pattern>/Colabora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoTema</servlet-name>
        <url-pattern>/NuevoTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTema</servlet-name>
        <url-pattern>/CrearTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar</servlet-name>
        <url-pattern>/Borrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/Modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EjecutarModificacion</servlet-name>
        <url-pattern>/EjecutarModificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Puntuar</servlet-name>
        <url-pattern>/Puntuar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
